*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b3ebf9;
  overflow: hidden;
}

#game-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#sidebar {
  width: 250px;
  height: 480px; /* Match board height */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#player-info {
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#move-history {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  border: 1px solid #eee;
  padding: 5px;
  background-color: #f9f9f9;
}

#moves-list {
  list-style: none;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
}

#moves-list li {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
}

#moves-list li:nth-child(odd) {
  background-color: #f0f0f0;
}

#restart-btn {
  padding: 10px;
  background-color: #97c5fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

#restart-btn:hover {
  background-color: #709edd;
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 2px solid #333;
}

.square {
  width: 60px;
  height: 60px;
  position: relative;
}

.square.white {
  background-color: #eeeed2;
}

.square.black {
  background-color: #769656;
}

.piece {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: cover;
}

.square.selected {
  background-color: rgb(155, 155, 155);
}

.square.possible-move::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgba(80, 80, 80, 0.6);
  border-radius: 50%;
  pointer-events: none;
}
